<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
      
    <context:annotation-config />
      
    <bean class="com.springcore.inject.autowire.annotation.User" name="user" >
    	<property name="username" value="Peter" />
    	<property name="age" value="30" />
    	<property name="country" value="Australia" />
    </bean>
    
    <bean class="com.springcore.inject.autowire.annotation.User" name="user2" >
    	<property name="username" value="Peter" />
    	<property name="age" value="32" />
    	<property name="country" value="Brazil" />
    </bean>
    
    <bean class="com.springcore.inject.autowire.annotation.Facebook" name="facebook"/>

</beans>